<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStart"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="transcend"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\huige233\Documents\GitHub\transcend\run"/><stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dmixin.hotSwap=true -Dmixin.debug.export=true -Dmixin.checks.interfaces=true -DFORGE_FORCE_FRAME_RECALC=true"/></launchConfiguration>